{
  "overrides": [
    {
      "files": "**/*.html",
      "options": {
        "parser": "lwc",
        "htmlWhitespaceSensitivity": "ignore",
        "bracketSameLine": true,
        "singleQuote": true,
        "printWidth": 120,
        "trailingComma": "none"
      }
    }
  ]
}
