# List files or directories below to ignore them when running prettier
# More information: https://prettier.io/docs/en/ignore.html
#

node_modules
.sfdx
.git
**/staticresources/**
.localdevserver
.sfdx
.sf
.vscode

coverage/
